langchain
langchain-google-vertexai
langchain-community
beautifulsoup4
langchain_openai
langchain_chroma
langchain-huggingface
sentence-transformers

google-cloud-aiplatform
tiktoken
pydantic
python-dotenv
chromadb
openai
